

main {

	justify-content: space-around;
	background-color: red;
	height: 4000px;
	width: 800px;
	margin: auto;
}


body {
	background-color: #C9C9C9;
	margin: 0px;
}


header {
	
	padding: 0;
	margin: 0;
	/* border: 10px groove; */
	border: 05px solid #908a99;
	overflow: auto;

	/* border-radius: 10px; */
	
	
	/* background-position-x: left; */
	
	
}


.cabecalho {
	background-color: #908a99;
	padding-left: 100px;
	display: flex;
	justify-content: space-around;
	font-family: impact;
	background-image: url("imagens/logo.png");
	background-size: 150px;
	background-position: 10px 05px;
	background-repeat: no-repeat;
	/*height: 50px; */
	
	p{
		/* border: 09px groove #cec9cc; */
		border-width: 09px;
		border-style: groove;
		padding: 10px 20px;
		margin: 0px;
		color: black;
		

	}
	
}




img{
	width: 245px;
	higher: 50px;
	margin: 25px 25px;
}
h2{
	font-family: cooper;
	color: blue;
}

li{
	font-family: cooper;
	color: white;
}

sectio{
	display; flex;
}
.mario {
 display: flex;
  flex-basis: 1;
  flex-grow: 1;
  align-items: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 50px;
  video {
  width: 45%;
}
}
.zelda {
  display: flex;
  flex-basis: 1;
  flex-grow: 1;
  align-items: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 50px;
}
.Metroid{
  display: flex;
  flex-basis: 1;
  flex-grow: 1;
  align-items: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 50px;
}
.trigger{
  display: flex;
  flex-basis: 1;
  flex-grow: 1;
  align-items: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 50px;
}
.kong{
  display: flex;
  flex-basis: 1;
  flex-grow: 1;
  align-items: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 50px;
}
.Street{
  display: flex;
  flex-basis: 1;
  flex-grow: 1;
  align-items: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 50px;
}