@font-face {
	font-family: minhafonte;
		src: url(upheavtt.ttf);
		
	}

main {
	display: flex;
	justify-content: space-around;
}


body {
	background-color: #C9C9C9;
	margin: 0px;
}


header {
	
	padding: 0;
	margin: 0;
	/* border: 10px groove; */
	border: 05px solid #908a99;
	overflow: auto;

	/* border-radius: 10px; */
	
	
	/* background-position-x: left; */
	
	
}


.cabecalho {
	background-color: #908a99;
	padding-left: 100px;
	display: flex;
	justify-content: space-around;
	font-family: impact;
	background-image: url("imagens/logo.png");
	background-size: 150px;
	background-position: 10px 05px;
	background-repeat: no-repeat;
	/*height: 50px; */
	
	p{
		/* border: 09px groove #cec9cc; */
		border-width: 09px;
		border-style: groove;
		padding: 10px 20px;
		margin: 0px;
		color: black;
		
		
	}
	
}



.fundo{
	background-color: #908a99;
	margin-top: 50px;
	height: 1000px;
	width: 1300px;
	border-width: 15px;
	border-style: groove;

	

	
}

.textos {
	display: flex;
	
	.titulo1 {
		height: 70px;
		width: 700px;
		font-family: minhafonte;
		font-size: 70px;
		padding-left: 20px;
		margin-top: 20px;
	}

	.ranking {
		display: flex;
		align-items: center;
		justify-content: center;
		border-width: 10px;
		border-radius: 100px;
		border-color: #b20215;
		border-style: solid;
		background-color: #b20215;
		font-family: minhafonte;
		margin: 10px;
		margin-left: 100px;
		height: 180px;
		width: 180px;
		font-size: 120px;
	
	}
	
	
	.bloco {
		display: grid;
		
		.developer {
			font-family: minhafonte;
			font-variant: small-caps;
			margin: 0px;
			margin-top: 50px;
			font-size: 30px;
		}
		
		.emp {
			font-family: minhafonte;
			color: #4f43ae;
			font-size: 25px;
			margin: 0px;
		}
		
		.released {
			font-family: minhafonte;
			font-variant: small-caps;
			margin: 0px;
			margin-top: 15px;
			font-size: 30px;
		}
		
		.ano {
			font-family: minhafonte;
			color: #4f43ae;
			font-size: 25px;
			margin: 0px;
		}
		
		
	}
	
}



	
.conteudo {
	
	display: flex;
	margin-top: 50px;
	
	p {
		margin: 20px 20px;
		font-family: minhafonte;
		font-size: 25px;
		
		
	}
	
}

img {
	width: 567px;
	height: 399px;
	border-width: 10px;
	border-style: groove;
	margin-left: 20px;
	
}
