

main {
	display: flex;
	justify-content: space-around;
}


body {
	background-color: #C9C9C9;
	margin: 0px;
}


header {
	
	padding: 0;
	margin: 0;
	/* border: 10px groove; */
	border: 05px solid #908a99;
	overflow: auto;

	/* border-radius: 10px; */
	
	
	/* background-position-x: left; */
	
	
}


.cabecalho {
	background-color: #908a99;
	padding-left: 100px;
	display: flex;
	justify-content: space-around;
	font-family: impact;
	background-image: url("imagens/logo.png");
	background-size: 150px;
	background-position: 10px 05px;
	background-repeat: no-repeat;
	/*height: 50px; */
	
	p{
		/* border: 09px groove #cec9cc; */
		border-width: 09px;
		border-style: groove;
		padding: 10px 20px;
		margin: 0px;
		color: black;
		
		
	}
	
}



.fundo{
	background-color: #908a99;
	margin-top: 50px;
	height: 1000px;
	width: 1300px;
	border-width: 15px;
	border-style: groove;

	

	
}

.textos {
	display: flex;
	
	.titulo1 {
		height: 70px;
		width: 650px;
		font-family: match;
		font-size: 70px;
		padding-left: 20px;
		margin-top: 20px;
	}

	.developer {
		font-size: 30px;
		left: 20px;
		top: 50px;
		position: relative;
	}
	
	.bloco {
		display: grid;
	}
	
}
