

main {
	display: flex;
	justify-content: space-around;
}


body {
	background-color: #C9C9C9;
	margin: 0px;
	background-repeat: no-repeat url("imagens/top.jpeg");
	
	
		
	
	}


header {
	
	padding: 0;
	margin: 0;
	/* border: 10px groove; */
	border: 05px solid #908a99;
	overflow: auto;

	/* border-radius: 10px; */
	
	
	/* background-position-x: left; */
	
	
}


.cabecalho {
	background-color: #908a99;
	padding-left: 100px;
	display: flex;
	justify-content: space-around;
	font-family: impact;
	background-image: url("imagens/logo.png");
	background-size: 150px;
	background-position: 10px 05px;
	background-repeat: no-repeat;
	/*height: 50px; */
	
	p{
		/* border: 09px groove #cec9cc; */
		border-width: 09px;
		border-style: groove;
		padding: 10px 20px;
		margin: 0px;
		color: black;
		
		
	}
	
}
	
	



.teste{
	background-color: red;
	margin-top: 50px;
	height: 3000px;
	width: 700px;
	border-width: 09px;
	border-style: groove;
	div{
		display: flex;
		}
	
	}
	/*imagens/Hover*/

	
img{
	
	width: 600px;
	higher: 600px;
	margin: 50px 50px;
	transform: translatey(-10px);
	box-shadow: 0 8px 20px rgba( 0,0,0,0.3);
	border-width: 09px;
	border-style: groove;
	
	}
    /* cor das texto*/
p{
	color: white;
	margin: 50px;
}
    /* fonte das letras em stroung*/
strong{
	font-family: cooper;
}
