@font-face {
	font-family: minhafonte;
		src: url(upheavtt.ttf);
		
	}

main {
	overflow: hidden;
	justify-content: space-around;
	background-color: red;
	margin:auto;
	margin-top: 50px;
	width: 1300px;
	border-width: 15px;
	border-style: groove;
}


body {
	background-color: #C9C9C9;
	margin: 0px;
}


header {
	
	padding: 0;
	margin: 0;
	/* border: 10px groove; */
	border: 05px solid #908a99;
	overflow: auto;

	/* border-radius: 10px; */
	
	
	/* background-position-x: left; */
	
	
}


.cabecalho {
	background-color: #908a99;
	padding-left: 100px;
	display: flex;
	justify-content: space-around;
	font-family: impact;
	background-image: url("imagens/logo.png");
	background-size: 150px;
	background-position: 10px 05px;
	background-repeat: no-repeat;
	/*height: 50px; */
	
	p{
		/* border: 09px groove #cec9cc; */
		border-width: 09px;
		border-style: groove;
		padding: 10px 20px;
		margin: 0px;
		color: black;
		text-align: center;
		
		
	}
	
}	

hr {
	height:10px;
}



.section{
	background-color: red;
	margin-top: 50px;
	width: 1300px;
	border-width: 15px;
	
}

.bloco1 {
	display: flex;
	margin: 10px 30px;
	
	.titulo1 {
		height: 70px;
		width: 700px;
		font-family: minhafonte;
		font-size: 70px;
		padding-left: 20px;
		margin-top: 20px;
	}
	
	.img1 {
		width: 70px;
		height: 70px;
		align-self: center;
	}

	.ranking {
		display: flex;
		align-items: center;
		justify-content: center;
		border-width: 10px;
		border-radius: 100px;
		border-color: #908a99;
		border-style: solid;
		background-color: #908a99;
		font-family: minhafonte;
		margin: 10px 30px;
		height: 180px;
		width: 180px;
		font-size: 120px;
	
	}
	
}

	
.bloco2 {
	
	display: flex;
	margin-top: 20px;
	
	.config {
		border-width: 10px;
		border-style: groove;
		margin: 20px 20px;
		font-family: minhafonte;
		font-size: 25px;
		
		
	}
	
	li {
		margin: 10px;
	}
	
}

.img2 {
	width: 567px;
	height: 399px;
	border-width: 10px;
	border-style: groove;
	margin-left: 20px;
	
}

video {
	margin-left: 33%;
	margin-right: 33%;
	border-width: 10px;
	border-style: groove;
}

h1 {
	text-align: center;
	width: 800px;
	font-family: minhafonte;
	margin-left: auto;
	margin-right: auto;
	font-size: 40px
}
